{{ template "header" . }}
<main class="main-content">
    <section class="text-section centered-container">
        <h1>{{ .post.Title }}</h1>
        <div class="post-tags">
            {{ range .post.Tags }}
                <a href="/tag/{{ .Slug }}" class="post-tag">#{{ .Name }}</a>
            {{ end }}
        </div>
        <div class="post-meta">
            <p>
                <span class="lighter-text">Published on: </span>
                {{ .post.PublishedAt.Format "January 2, 2006" }}
            </p>
            <p>
                <span class="lighter-text">Written by: </span>
                {{if .post.Author}}{{ .post.Author.FirstName }} {{ .post.Author.LastName }}{{else}}<em>Deleted User</em>{{end}}
            </p>
        </div>
        <div class="content">
            {{ raw .post.Content }}
        </div>
    </section>
</main>
{{ template "footer" . }}