{{ template "header" . }}
<main class="main-content">
    <section class="text-section centered-container">
        <h1 class="tag-title">Posts tagged with #{{ .tag.Name }}</h1>
        {{ range .posts }}
            <article class="post-item">
                <div class="post-date">{{ .PublishedAt.Format "January 2006" }}</div>
                <h2 class="post-title"><a href="/post/{{ .Slug }}">{{ .Title }}</a></h2>
                {{ if .Excerpt }}
                    <p class="post-excerpt">{{ raw .Excerpt }}</p>
                {{ end }}
                <div class="post-tags">
                    {{ range .Tags }}
                        <a href="/tags/{{ .Slug }}" class="post-tag">#{{ .Name }}</a>
                    {{ end }}
                </div>
            </article>
            <hr>
        {{ end }}

        {{ if gt .totalPages 1 }}
        <div class="pagination">
            {{ if gt .currentPage 1 }}
                <a href="/tags/{{ .tag.Slug }}?page={{ sub .currentPage 1 }}" class="pagination-link">&larr; Previous</a>
            {{ end }}
            
            <span class="pagination-info">Page {{ .currentPage }} of {{ .totalPages }}</span>
            
            {{ if lt .currentPage .totalPages }}
                <a href="/tags/{{ .tag.Slug }}?page={{ add .currentPage 1 }}" class="pagination-link">Next &rarr;</a>
            {{ end }}
        </div>
        {{ end }}
    </section>
</main>
{{ template "footer" . }}