{{ define "footer.tmpl" }}
        <div class="footer-admin-link">
            <a href="/admin" class="subtle-link">Admin</a>
        </div>
        <script src="/static/js/main.js"></script>
    </body>
</html>
{{ end }}