{{ template "header.tmpl" . }}
<main class="main-content">
    <!-- Contact section -->
    <section class="text-section">
        <h2>Contact</h2>
        <p>
            You can find me on GitHub: <a href="https://github.com/shinuza">@shinuza</a> and on X: <a href="https://x.com/shinuza">@shinuza</a>.
        </p>
    </section>
</main>
{{ template "footer.tmpl" . }}
