{{ template "header.tmpl" . }}
<main class="main-content">
    <!-- Contact section -->
    <section class="text-section centered-container">
        <h2>Contact</h2>
        <p>If you have any questions or just want to connect, feel free to reach out to me on the following platforms:</p>
        <ul>
            <li>
                GitHub: <a href="https://github.com/shinuza" class="link">@shinuza</a>
            </li>
            <li>
                X: <a href="https://x.com/shinuza" class="link">@shinuza</a>
            </li>
        </ul>
    </section>
</main>
{{ template "footer.tmpl" . }}
