{{ template "header.tmpl" . }}
<main class="main-content">
    <section class="text-section centered-container">
        <h2>{{ .title }}</h2>
        {{ range .posts }}
            <article>
                <h3><a href="/posts/{{ .Slug }}">{{ .Title }}</a></h3>
                <div class="content">{{ .Content }}</div>
            </article>
        {{ end }}
    </section>
</main>
{{ template "footer.tmpl" . }}