{{define "header.tmpl" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Code In Style</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <!-- Add a classic navigation bar -->
        <header class="header">
            <nav class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/posts">Posts</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        <div class="logo">
            <h1 class="type-title">
                <span class="terminal-prompt">Code In Style</span>
            </h1>
            <p class="lighter-text">Just rambling about internets things</p>
        </div>
        <hr class="separator">
{{end}}