{{ define "media_selector" }}
<div class="modal" id="mediaModal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Media Library</h3>
            <button onclick="closeMediaModal()" class="close-button">
                <i class="fas fa-times"></i>
            </button>
        </div>

        <div class="media-grid" id="mediaGrid">
            <!-- Media items will be loaded here -->
        </div>
    </div>
</div>
{{ end }}
