{{ template "header.tmpl" . }}
<main class="main-content">
    <article class="page">
        <h1>{{.page.Title}}</h1>
        <div class="page-content">
            {{.page.Content}}
        </div>
    </article>
</main>
{{ template "footer.tmpl" . }}
