{{ template "admin_header" . }}
{{ template "media_selector" . }}
<div class="admin-page">
    <div class="page-header">
        <h1 class="text-4xl text-bold mb-4">Edit Post</h1>
        <div class="header-actions">
            <a href="/admin/posts" class="btn">← Back to Posts</a>
            <a href="/posts/{{.post.Slug}}" class="btn" target="_blank">View Post</a>
        </div>
    </div>

    {{ if .error }}
    <div class="error-message">{{ .error }}</div>
    {{ end }}

    <div class="editor-container">
        <div x-inity="posts" x-props='{{ .post.ToJSON }}'></div>
    </div>
</div>
{{ template "admin_footer" . }}