{{define "header" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{if .title}}{{.title}} - {{end}}{{.settings.Title}}</title>
        {{if .faviconHTML}}{{.faviconHTML | raw}}{{end}}
        <link rel="stylesheet" href="/static/css/main.css">
        {{if .user}}
            <link rel="stylesheet" href="/static/css/posts.css">
        {{end}}
        <link rel="stylesheet" href="/media/chroma.css">
        <link rel="icon" href="/static/img/favicon.png" sizes="32x32">
        <link rel="apple-touch-icon" href="/static/img/favicon-ios.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Add a classic navigation bar -->
        <header class="header">
            <nav class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    {{range .menuItems}}
                        <li><a href="{{if .PageID}}/pages/{{.Page.Slug}}{{else}}{{.URL}}{{end}}">{{.Label}}</a></li>
                    {{end}}
                </ul>
            </nav>
        </header>
        <div class="logo">
            <h1 class="type-title">
                <span class="terminal-prompt">{{.settings.Title}}</span>
            </h1>
            <p class="lighter-text">{{.settings.Subtitle}}</p>
        </div>
{{end}}