    </main>
    <footer>
        <div class="container">
            <p>Powered by <a href="https://github.com/shinuza/captain">Captain</a> {{.version}}</p>
        </div>
    </footer>
</body>
</html>
