{{ template "header.tmpl" . }}
<article>
    <h2>{{.post.Title}}</h2>
    <div class="meta">
        Posted on {{.post.PublishedAt.Format "January 2, 2006"}}
        by {{.post.Author.FirstName}} {{.post.Author.LastName}}
    </div>
    <div class="content">
        {{.post.Content}}
    </div>
    {{if .post.Tags}}
    <div class="tags">
        {{range .post.Tags}}
        <a href="/tags/{{.Slug}}" class="tag">{{.Name}}</a>
        {{end}}
    </div>
    {{end}}
</article>
{{ template "footer.tmpl" . }}
